.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
.trigger:hover {
    color: #4141ee;
  }
  
.logo {
  position: absolute;
  top: 5px;
  left: 18px;
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }
.logo img {
    
    border-radius:50%
}
.logo img {
    width: 40px;
    height: 40px;
}
.sidebar {
  background:rgb(50, 145, 228) !important ;
}
.menubar {
  margin:50px 0;
  background:transparent !important;
  color: #fff;
}

.menu_item:hover{
  background:#fff;
}
.dashboard_card {
  height: 25vh;
  margin: 0 auto;
  background: #f1e8e8;
}
.dashboard_card_main {
  height: 70vh;
  margin-left: 5%;
  background: #f1e8e8;
}

.site-form-in-drawer-wrapper {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 100%;
  padding: 10px 16px;
  text-align: right;
  background: #fff;
  border-top: 1px solid #e9e9e9;
}

.col_input {
  width: 100%;
}
@media screen and (max-width: 960px){

  .container_form{
      width:100%;
  }
  .container_input{
      display: grid;
      grid-template-columns: 1fr;

  }
  .container_textarea{
      width: 95%;
      
  }
  .col_input {
      width: 60vw;
  }
}