
.container_travel {
    height: 100vh;
    margin: 30px 70px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   
    column-gap: 30px;
}
.travel_card {
    display: grid;
    width: 282px;
    height: 377px;

    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.travel_card img {
    
    filter: brightness(70%);
    width: 282px;
    height: 277px;

    border-radius: 20px;
}
.travel_card img:hover{
    
    filter: brightness(100%);
   
}
.travel_card h5.price {
    width: 90px;
    height: 40px;
    font-size: 18px;
    border-radius: 8px;
    position: relative;
    right: 120px;
    top: 20px;
    background: #FFFFFF;
    color: #4759F9;
    padding: 2px;

    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 41px;
}
.travel_card h2.name {
    position: relative;
    top:-70px;
    text-align: center;

    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
}
.travel_card .city {
    position: relative;
    top:-75px;
    text-align: center;
    
    font-size: 18px;
    font-weight: normal;
    color:#FFFFFF;
   
}
.travel_card .saida_chegada{
    height: 25px;
    position: relative;
    top:-50px;
    border-bottom: 2px solid #4759F9;
    
}
.travel_card .saida {
    padding: 0 10px;
    float: left;
    color: #635995;
    
    
}
.travel_card .chegada {
    padding: 0 10px;
    float: right;
    color: #635995;
    
}
.travel_card .dias {
    position: relative;
    top:  -10px;
    left: -210%;

    font-size: 18px;
    font-weight: 600;
    text-align: center;
    line-height: 20px;
    color: #635995;

}
.travel_card .initial{
    position: relative;
    top: -58px;
    padding: 0 10px;
    color: #635995;
    text-align: center;
    float: left;
    line-height: 25px;
}
.travel_card .end{
    position: relative;
    top: -58px;
    padding: 0 10px;
    color: #635995;
    text-align: center;
    float: right;
    line-height: 25px;
}
.travel_details {
    text-decoration: none;

}
@media screen and (max-width: 960px){
    
    .container_travel {
        margin: 100px 65px;
        row-gap: 50px;
       
    }    
}