@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Baloo 2', cursive;
    background: F4F4F4;  /* fallback for old browsers */
    
}